<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.cheatsheets.cheatSheetContent">
    <category
          id="com.cloudsmith.publish.PublishCategory"
          name="Repository Builder">
    </category>
    <cheatsheet
          category="com.cloudsmith.publish.PublishCategory"
          composite="true"
          contentFile="$nl$/cheatsheets/publishRepo.xml"
          id="com.cloudsmith.publish.ui.cheatsheet.publishRepo"
          name="Creating and Publishing a Repository">
       <description>
          Describes all the basic steps to publish a repository.
       </description>
    </cheatsheet>
 </extension>

</plugin>
