<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.commands">
    <command
          description="Generates Repositories for all defined units"
          id="com.cloudsmith.publish.ui.generateRepositories"
          name="Generate Repositories">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.b3.BeeLang.EditorContext?after=additions">
       <command
             commandId="org.eclipse.b3.ui.run.b3cmd"
             label="Publish"
             style="push">
          <parameter
                name="org.eclipse.b3.ui.run.b3cmd.pathParameter"
                value="b3:/com.cloudsmith.publish/src-b3/CreateReposCmd.b3">
          </parameter>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.cloudsmith.publish.ui.commands.GenerateRepositoriesHandler"
          commandId="com.cloudsmith.publish.ui.generateRepositories">
                    <visibleWhen
                checkEnabled="false">
			    <with variable="activeEditorId">
			        <equals value="org.eclipse.b3.BeeLang"/>
			    </with>
              </visibleWhen>
          
    </handler>
 </extension>

</plugin>
