<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cloudsmith.publish.publisher.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.cloudsmith.publish.publisher.Perspective"
            id="com.cloudsmith.publish.publisher.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:publisher.file?after=additions">
         <command
               commandId="org.eclipse.b3.ui.run.b3cmd"
               icon="icons/publish_16.gif"
               label="Publish"
               style="push">
            <parameter
                  name="org.eclipse.b3.ui.run.b3cmd.pathParameter"
                  value="b3:/com.cloudsmith.publish/src-b3/CreateReposCmd.b3">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:publisher.toolbar?after=additions">
         <command
               commandId="org.eclipse.b3.ui.run.b3cmd"
               icon="icons/publish_16.gif"
               label="Publish"
               style="push">
            <parameter
                  name="org.eclipse.b3.ui.run.b3cmd.pathParameter"
                  value="b3:/com.cloudsmith.publish/src-b3/CreateReposCmd.b3">
            </parameter>
         </command>
      </menuContribution>
      <!-- NO CHEAT SHEETs in HELP MENU
      <menuContribution
            allPopups="false"
            locationURI="menu:publisher.help?after=additions">
         <menu
               label="Open Cheat Sheet">
            <command
                  commandId="org.eclipse.ui.cheatsheets.openCheatSheet"
                  icon="icons/cheatsheet_pad_obj.gif"
                  label="Creating and Publishing a Repository"
                  style="push">
               <parameter
                     name="cheatSheetId"
                     value="com.cloudsmith.publish.ui.cheatsheet.publishRepo">
               </parameter>
            </command>
            <separator
                  name="com.cloudsmith.publish.publisher.openOtherCheatSheet"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.cheatsheets.openCheatSheet"
                  label="Other..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      -->
   </extension>
   
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cloudsmith.publish.publisher.application" name="Repository Builder"
            >
         <property
               name="appName" value="Repository Builder">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/repobuilder_16.gif,icons/repobuilder_32.gif,icons/repobuilder_48.gif,icons/repobuilder_64.gif,icons/repobuilder_128.gif">
         </property>
         <property
               name="aboutText"
               value="Repository Builder - version 0.1&#x0A;© Cloudsmith Inc  - All rights reserved.&#x0A;License - see http://www.cloudsmith.com/license_info.html">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="publisher.disable.actions"
            name="Actions to disable">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="non.existent.editor">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="publisher.disable.actions"
            pattern="org\.eclipse\.search.*|org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition|org\.eclipse\.ui\.edit.*Annotation.*|.*org\.eclipse\.team\.ui\.applyPatch|.*org\.eclipse\.team\.ui\.showLocalHistory|.*org\.eclipse\.team\.ui\.ConfigureProject|.*OpenDeclaration.*|org\.eclipse\.ui\.navigate.*">
      </activityPatternBinding>
   </extension>
   
   

</plugin>
