<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cloudsmith.publish.publisher.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.cloudsmith.publish.publisher.Perspective"
            id="com.cloudsmith.publish.publisher.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="publisher.file"
               label="File">
            <command
                  commandId="publisher.newb3File"
                  label="New">
            </command>
            <command
                  commandId="publisher.openb3Files"
                  label="Open b3 File...">
            </command>
            <separator
                  name="com.cloudsmith.publish.publisher.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As...">
            </command>
            <separator
                  name="com.cloudsmith.publish.publisher.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               id="publisher.run"
               label="Run">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.b3.BeeLang">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="com.cloudsmith.publish.ui.generateRepositories"
                  label="Generate Repositories">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="false"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="bottom"
               id="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               standalone="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               standalone="false">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cloudsmith.publish.publisher.application" name="Publisher"
            >
         <property
               name="appName" value="Publisher">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="publisher.disable.search.menu"
            name="Disable Search menu">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="non.existent.editor">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="publisher.disable.search.menu"
            pattern="org\.eclipse\.search.*">
      </activityPatternBinding>
   </extension>
   
      <extension
         point="org.eclipse.ui.actionSets">
        <actionSet
            label="b3 Files"
            visible="true"
            id="com.cloudsmith.publish.publisher.actionSet.b3Files">
         <action
               definitionId="publisher.openb3Files"
               label="Open b3 Files"
               class="com.cloudsmith.publish.publisher.actions.OpenLocalb3FileAction"
               id="com.cloudsmith.publish.publisher.openb3Files">
         </action>
         <action
               class="com.cloudsmith.publish.publisher.actions.Newb3FileAction"
               definitionId="publisher.newb3File"
               id="com.cloudsmith.publish.publisher.newb3File"
               label="New b3 file"
               style="push">
         </action>
      </actionSet>
   </extension>   
   

</plugin>
